<strong>Hi, {{ provider }}</strong>
<p>An appointment has been canceled. Please check the details:</p>
<p>
  <strong>Customer: </strong> {{ user }}<br>
  <strong>Date/time: </strong> {{ date }}<br>
  <br>
  <small>
    * From now, this date and time is available for new appointments.
  </small>
</p>
